.menu-item a:link,.menu-item a:hover, .menu-item a:visited, .menu-item a:active  {
text-decoration:none;
color:#fff;
}
.menu-item {
float:right;
text-decoration:none;
color:#fff;
text-shadow: none;
list-style: none;
padding-right: 5px;
padding-top: 0;
margin-top: -10px;
}
.tag{
position:absolute;
width:300px;
height:250px;
z-index:900000;
}
.tag-default{
opacity:0.5;
}
.tag-none{
opacity:0;
}
.tag-yellow{
background:rgba(255,255,255,0.3);
border: solid 3px yellow;
}
.tag-flash{
background-image: url('../img/logo_01.gif');
}
.tag .clkbl{
width:100%;
height:100%;
cursor:pointer;
}
.tag .tag-label{
margin:auto;
min-height: 30px;
min-width:150px;
/*margin-top: 15%;*/
background: rgba(255,255,255,0.7);
padding: 8px;
display: table-cell;
vertical-align: middle;
}
.tag .tag-label a:link{
text-decoration:none;
}
.ui-dialog{
z-index:900000 !important;
}
.ui-widget-overlay{
z-index:800999 !important;
}
div#settingspanel {
z-index:900000 !important;
}
div#telllspanel {
z-index:900000 !important;
}
#telll-warn{
background-image: url('../img/logo_01.png');
position:absolute;
top:10px;
left:10px;
width:80px;
height:50px;
z-index: 800000;
background-size: 80px;
display:none;
}
#status{}
#colophon{display:none}
#telll-player-frame{
width:100%;
position:relative;
z-index:800000;
}
#telll-movie{
width:100%;
position:relative;
background: #000;
}
#telll-top-controls{
position: absolute;
top:0px;
width:100%;
height: 30px;
background-color:rgba(192,192,192,0.3);
z-index: 800000;
display:none;
}
#telll-controls{
position: absolute;
bottom:40px;
height: 50px;
width:100%;
background-color:#000;
z-index: 800000;
display:none;
}
#panel-frame{
   width: 785px;
   height: 40px;
   margin: 0 auto;
}
#panel{
width:525px;
height:39px;
overflow: hidden;
float: left;
}
#return-button {
    background: url("../img/telll.png") no-repeat -276px -66px transparent;
    width:31px;
    height:38px;
    float:left;
    cursor:pointer;
}
#forward-button {
    background: url("../img/telll.png") no-repeat -310px -66px transparent;
    width:31px;
    height:38px;
    float:left;
    cursor:pointer;
}


#rgb-buttons .rbtn {
    background: url("../img/telll.png") no-repeat -179px -66px transparent;
    width:31px;
    height:38px;
float:left;
cursor:pointer;
margin-left: 0px;
}
#rgb-buttons .gbtn {
    background: url("../img/telll.png") no-repeat -210px -66px transparent;
    width:31px;
    height:38px;
float:left;
cursor:pointer;
}
#rgb-buttons .bbtn {
    background: url("../img/telll.png") no-repeat -242px -66px transparent;
    width:31px;
    height:38px;
float:left;
cursor:pointer;
}

#telll-button {
    background: url("../img/telll.png") no-repeat -179px 0px transparent;
    width:50px;
    height:38px;
float:left;
cursor:pointer;
margin-left: 0px;
}

#settings-button{
    background: url("../img/telll.png") no-repeat -179px -32px transparent;
    width:31px;
    height:38px;
float:left;
cursor:pointer;
margin-left: 0px;
}
div.frame-icon {
   overflow:hide;
   width:64px;
   height:39px;
   float:left;
   margin-left:10px;
   cursor:pointer;
}
div.frame-icon label {
position:absolute;
display:none;
}
.photolink-icon{
border:1px solid #fff;
max-width: 100%;
}
.title-post{
display:none;
}
