@font-face {
    font-family: telllFont;
    src: url(telllFont.woff);
}

body {
    font-family: telllFont !important;
}

html.overlay {
    overflow: hidden;
}
div.telll-movie-element:nth-child(1){
display:none;
}
div.telll-movie-element:nth-child(4){
display:none;
}
div.popup-overlay {
background: black;
opacity: 0;      
}
div.login-popup-overlay {
background: rgb(231, 232, 225);
width: 100%;
height: 100%;
position: fixed;
top: 0;
left: 0;
opacity: 1;
}
fieldset{
    border: none !important;
}
.popup {
    position: fixed !important;
    top: 0px!important;
    left: 0px !important;
    max-width: initial !important;
    min-width: initial !important;
    max-height: initial !important;
    min-height: initial !important;
    width: 100% !important;
    height: 100% !important;
}

.telll-widget {
    max-width: initial !important;
    min-width: initial !important;
    max-height: initial !important;
    min-height: initial !important;
    width: 100% !important;
    height: 100% !important;
    overflow: hidden !important;
    background: black !important;
padding: 0 !important;
}
span.ple-controls{
float: right;
}
span.ple-title{
color:black !important;
}
div.ple-controls-frame{
height: 70px;
padding: 30px 0px 0px 0px;
width: 132px;
float: right
}
div.ple-img img{
width: 100%;
height: initial !important;
}
.dashboard-panel {
    overflow: auto !important;
    min-width: initial !important;
    min-height: initial !important;
}

.welcome {
    font-size: 18px !important;
    text-align: center;
    padding-top: 25px;
}

legend {
    display: none;
}

div.telll-login-widget {
    width: 290px !important;
    min-width: 180px !important;
}

div#telll-login-frame form fieldset {
    padding: 0 0 10px !important;
    max-width: 1096px !important;
    min-width: 180px !important;
    min-height: 200px !important;
    max-height: 1096px !important;
    margin-top: 20px !important;
    width: 210px !important;
}

div#telll-login-frame form {
    min-width: 180px !important;
    max-width: 290px !important;
    width: 290px !important;
}

div.telll-login-field {
    width: 210px !important;
    padding: 0px !important;
    margin: 0px;
    margin-top: 10px !important;
}

div.telll-login-field input,
div#telll-login-frame div.notes {
    width: 210px !important;
}

div.telll-login-field.submit {
    width: 210px !important;
    padding: 0px !important;
    margin: 0px;
    margin-top: 32px !important;
    text-align: center !important;
}

div.telll-login-field.submit input {
    width: initial;
}

span.red {
    color: #ff0000;
}

span.green {
    color: #00FF00;
}

span.blue {
    color: #0000FF;
}

.welcome {
    font-size: 28px;
}

.telll-button {
    width: 100% !important;
    background: transparent !important;
    color: white;
    border: none !important;
    /*font-weight: bold !important;*/
    
    cursor: pointer;
    font-size: 24px;
    font-weight: lighter;
    /* font-stretch: ; */
    
    font-family: "Arial";
}

.note {
    font-size: 12px;
}

.telll-dialog {
    /* z-index: 8000; */
}

.clickbox,
div#clickbox {
    min-width: initial !important;
    max-width: initial !important;
    min-height: initial !important;
    max-height: initial !important;
    padding: initial !important;
    width: 100% !important;
/*    height: initial !important; */
    border: none;
background: white;
color:black;
}
div.photolink-list-element {
width: 98%;
border: none;
height: initial;
margin: 3px;
padding: 1px;
float: left;
border-top: 2px solid #27B258;
border-left: 8px solid #1699d0;
overflow: hidden;
}

div.ppcontrols.active{
background: rgba(135, 136, 197, 0.15);
-moz-box-shadow: inset 0px 0px 4px 1px rgb(135, 136, 197);
-webkit-box-shadow: inset 0px 1px 4px 1px rgb(135, 136, 197);
box-shadow: inset 0px 0px 4px 1px rgb(135, 136, 197);
}
div#photolinks-list-widget div.frame-icon label {
position: absolute;
margin-top: -18px;
margin-left: -128px;
cursor: pointer;
width: 192px;
text-align:center
}
/*
div.logo-86x86.flat{}
div.logo-86x86.panel{bottom:"120px" !important; right:"10px" !important}
div.logo-86x86.controls{bottom:"120px" !important; right:"10px" !important}
div.logo-86x86.controls-panel{bottom:"120px" !important; right:"10px" !important}
*/
/*
div.logo-86x86 {
    position: fixed !important;
    right: 2px !important;
    bottom: 2px !important;
    top: initial !important;
    margin: 0px !important;
    background-size: 25px !important;
    width: 25px !important;
    height: 25px !important;
}
    .arrow-right-min {
    background: url("../img/controls.png") no-repeat -54px -27px transparent;
    background-size: 163px 55px;

}
*/


#return-button {
background-image: url("../img/controls.png") !important;
background-color: rgba(0, 0, 0, 0) !important;
background-size: 163px 55px !important;
width: 28px !important;
height: 28px !important;
background-position: -27px -27px !important;
}

#forward-button {
background-image: url("../img/controls.png") !important;
background-color: rgba(0, 0, 0, 0) !important;
background-size: 163px 55px !important;
width: 28px !important;
height: 28px !important;
background-position: -54px -27px !important;
}

#telll-controls {}

button.close {
    background: url("../img/telll.png") no-repeat -350px -70px transparent !important;
    border: none;
    width: 28px;
    height: 28px;
    color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

button.play {
    background: url("../img/telll.png") no-repeat -384px -71px transparent !important;
    border: none;
    width: 28px;
    height: 28px;
    color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

button.pause {
    background: url("../img/telll.png") no-repeat -420px -71px transparent !important;
    border: none;
    width: 28px;
    height: 28px;
    color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

button.stop {
    background: url("../img/telll.png") no-repeat -457px -71px transparent !important;
    border: none;
    width: 28px;
    height: 28px;
    color: rgba(0, 0, 0, 0);
    cursor: pointer;
}
.photolink-icon{
border: none !important;
border-top: 2px solid green !important;
max-width: 100% !important;
}
#photolinks-list-widget {
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 80000;
    height: 60px;
    width: 100%;
    overflow: hidden;
}

form fieldset div.notes {
    float: none !important;
    padding: 5px !important;
}

form div.submit {
    /* width: 214px; */
    
    padding: 0 !important;
    margin-left: auto !important;
}

form div label {
    text-align: left !important;
}
div#telll-poster{
margin-top:22px !important;
}
img.telll-img-poster{
border-radius: 8px;
-webkit-box-shadow: 6px 6px 12px 1px rgba(50, 50, 50, 0.65);
-moz-box-shadow: 6px 6px 12px 1px rgba(50, 50, 50, 0.65);
box-shadow: 6px 6px 12px 1px rgba(50, 50, 50, 0.65);
}
span.telll {
    font-size: 50px;
}
div.telll-login-widget {
border-radius: 8px;
-webkit-box-shadow: 6px 6px 12px 1px rgba(50, 50, 50, 0.65);
-moz-box-shadow: 6px 6px 12px 1px rgba(50, 50, 50, 0.65);
box-shadow: 6px 6px 12px 1px rgba(50, 50, 50, 0.65);
}

div.telll-movies-list-widget {
    border: 1px solid;
    width: 100%;
    height: 650px;
    overflow: hidden;
    margin: auto;
    background: white;
    opacity:1;
}

div#telll-movies-list-frame {
    width: 100% !important;
    height: 100% !important;
    background: black;
}

div.movie-label {
    margin-top: 0px !important;
    padding: 30% 10% 30% 10% !important;
}

span.movie-title {
    text-shadow: 1px 1px 2px rgba(180, 180, 180, 1);
    font-size: 16px !important;
    line-height: 40px;
}

span.movie-description {
    text-shadow: 1px 1px 2px rgba(180, 180, 180, 1);
    font-size: 12px !important;
    line-height: 20px;
    width: 80%;
}
div.tag{
text-shadow: 2px 1px 1px rgba(230, 230, 230, 0.95) !important;
color: rgba(30, 30, 30, 1) !important;
font-size: 22px !important;
font-family: "Geneva", "Arial" !important;
}
#telll-stage {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    margin: 0px;
    background: white;
    color:black;
}

#telll-content {
    /* position: absolute; */
    
    text-align: center;
    margin: auto;
    /* margin-top: 120px;
    width: 290px;
    height: 200px; */
	max-width: 560px
}

div#menu {
    text-align: center;
}

div#bottom-menu {
position: fixed;
width: 100%;
height: 18px;
left: 0px;
bottom: 0px;
background:#2dbb64;
padding-top: 0px;
}

div#bottom-menu-frame {
    margin: auto;
    text-align: center;
}

span.menu-small {
    font-size: 12px;
    cursor: pointer;
}

div.boom-home {
/*    border-radius: 8px;
    -webkit-box-shadow: 2px 2px 4px 1px rgba(255, 255, 255, 0.3);
    -moz-box-shadow: 2px 2px 4px 1px rgba(255, 255, 255, 0.3);
    box-shadow: 2px 2px 4px 1px rgba(255, 255, 255, 0.3);
*/
    height: 68px;
    width: 150px;
    /*overflow: hidden;*/
    padding: 5px;
    margin: auto;
    margin-bottom: 7px;
    /* background: white; */
}

#tell-dashboard-titlebar {
    display: none;
}

div#telll-dashboard-frame {
    width: 100%;
}

div#telll-dashboard-frame li#movies,
div#telll-dashboard-frame li#photolinks,
div#telll-dashboard-frame li#tags,
div#telll-dashboard-frame li#clicks
{
    display: none;
}
small {
    display: none;
}
/* 800x600 screen */

@media (min-device-width: 768px) and (max-device-width: 1024px) {}
/* desktops */

@media screen and (min-width: 1024px) {}

/* mobiles */
@media screen and (max-device-width: 736px) {
	.welcome {
	    font-size: 16px !important;
	    text-align: center;
	    padding-top: 5px;
	}
        .telll {
	    font-size: 40px !important;
        }
}
/* Smartphones (portrait and landscape) ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    /* STYLES GO HERE */
}
/* Smartphones (landscape) ----------- */

@media only screen and (min-width: 321px) and (max-width: 736px) {
	div#telll-poster{
	max-height: 200px !important;
	}

    /* STYLES GO HERE */
}
/* Smartphones (portrait) ----------- */

@media only screen and (max-width: 320px) {
    div.telll-login-widget {
        width: 290px;
    }
    form fieldset div.notes {
        display: none;
    }
}
/* iPads (portrait and landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /* STYLES GO HERE */
}
/* iPads (landscape) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    /* STYLES GO HERE */
}
/* iPads (portrait) ----------- */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    /* STYLES GO HERE */
}
/* Desktops and laptops ----------- */

@media only screen and (min-width: 1224px) {
    /* STYLES GO HERE */
}
/* Large screens ----------- */

@media only screen and (min-width: 1824px) {
    /* STYLES GO HERE */
}

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) {
    /*    //iPhone 6+ landscape*/
    
    form fieldset div.notes {
        display: none;
    }
}

@media only screen and (max-device-width: 736px),
only screen and (max-device-width: 667px),
only screen and (max-width: 480px) {
	.welcome {
	    font-size: 16px !important;
	    text-align: center;
	    padding-top: 25px;
	}
        .telll {
	    font-size: 40px !important;
        }
}

@media only screen and (max-device-width: 640px),
only screen and (max-device-width: 667px),
only screen and (max-width: 480px) and (orientation: portrait) {
    /*    //iPhone 6 and iPhone 6+ portrait*/
}

@media only screen and (max-device-width: 640px),
only screen and (max-device-width: 667px),
only screen and (max-width: 480px) and (orientation: landscape) {
    /*    //iPhone 6 and iPhone 6+ landscape*/
}
/* iPhone 5 (portrait &amp; landscape)----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
    /* STYLES GO HERE */
}
/* iPhone 5 (landscape)----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
    form fieldset div.notes {
        display: none;
    }
    div.telll-login-widget {
        height: 275px;
        width: 375px;
    }
}
/* iPhone 5 (portrait)----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
    div.telll-login-widget {
        width: 290px;
    }
    /* STYLES GO HERE */
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
    /*    //iPhone 6 Portrait*/
    
    div.telll-login-widget {
        width: 290px;
    }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
    /*    //iPhone 6 landscape*/
}

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) {
    /*    //iPhone 6+ Portrait*/
    
    div.telll-login-widget {
        width: 330px;
    }
}


.rgb-bg {
background: url("../img/rgb.png") no-repeat -2px -4px transparent;
background-repeat: no-repeat;
image-rendering: pixelated;
image-rendering: -moz-crisp-edges;
image-rendering: -o-crisp-edges;
image-rendering: optimizeSpeed;
image-rendering: crisp-edges;
-ms-interpolation-mode: nearest-neighbor;
}
.red-bg{
background:#D8162F;
}
.green-bg{
background:#27B258;
}
.blue-bg{
background:#1699d0;
}

.red-fg{
color:#D8162F;
}
.green-fg{
color:#27B258;
}
.blue-fg{
color:#1699d0;
}
.top-line{
width:100%;
height:8px;
top:0px;
left:0px;
position:fixed;
background-size: 100% 8px;

}
.telll-control{
width:44px;
height:44px;
    float: left;
}
.white-background {
background:white;
    width: 300px;
    height: 100px;
}
.black-background {
background:black;
    width: 300px;
    height: 100px
}
.menu {
    background: url("../img/controls.png") no-repeat -253px -4px transparent;
cursor:pointer;
}
.share {
    background: url("../img/controls.png") no-repeat -2px -4px transparent;
cursor:pointer;
}
.favorite-blue {
display:none;
	cursor:pointer;
    background: url("../img/controls.png") no-repeat -103px -4px transparent;
}
.favorite-red {
display:none;
cursor:pointer;
    background: url("../img/controls.png") no-repeat -152px -4px transparent;
}
.favorite-green {
display:none;
    background: url("../img/controls.png") no-repeat -52px -4px transparent;
cursor:pointer;
}
.buy {
display:none;
    background: url("../img/controls.png") no-repeat -201px -4px transparent;
cursor:pointer;
}
.arrow-left {
    background: url("../img/controls.png") no-repeat -53px -52px transparent;
cursor:pointer;
}
.arrow-right {
    background: url("../img/controls.png") no-repeat -103px -52px transparent;
cursor:pointer;
}

.telll-control-sml{
width:36px;
height:36px;
float: right;
}
.menu-sml {
    background: url("../img/controls.png") no-repeat -210px -3px transparent;
    background-size: 250px 82px;
}
.share-sml {
    background: url("../img/controls.png") no-repeat -1px -3px transparent;
    background-size: 250px 82px;
}
.favorite-blue-sml {
    background: url("../img/controls.png") no-repeat -85px -3px transparent;
    background-size: 250px 82px;
}
.favorite-red-sml {
    background: url("../img/controls.png") no-repeat -126px -3px transparent;
    background-size: 250px 82px;
}
.favorite-green-sml {
    background: url("../img/controls.png") no-repeat -43px -3px transparent;
    background-size: 250px 82px;
}
.buy-sml {
    background: url("../img/controls.png") no-repeat -167px -3px transparent;
    background-size: 250px 82px;
}
.arrow-left-sml {
    background: url("../img/controls.png") no-repeat -43px -43px transparent;
    background-size: 250px 82px;
}
.arrow-right-sml {
    background: url("../img/controls.png") no-repeat -86px -43px transparent;
    background-size: 250px 82px;
}

.telll-control-min{
width:28px;
height:28px;
float: right;
}
.menu-min {
    background: url("../img/controls.png") no-repeat -135px 0px transparent;
    background-size: 163px 55px;
}
.share-min {
    background: url("../img/controls.png") no-repeat 0px 0px transparent;
    background-size: 163px 55px;
}
div#popup-clickbox.timeline{
width: 30% !important;
opacity: 0.6;
}
div#timeline-btn-frm{
width: 220px;
position: absolute;
top: 8px;
left: 45%;
}
div#timeline-btn-frm .favorite-blue-min {
border: none;
width: 28px;
height: 28px;
color: rgba(0, 0, 0, 0);
cursor: pointer;
float: initial !important;
}
.favorite-blue-min {
    background: url("../img/controls.png") no-repeat -55px 0px transparent;
    background-size: 163px 55px;
}
.favorite-red-min {
    background: url("../img/controls.png") no-repeat -81px 0px transparent;
    background-size: 163px 55px;
}
.favorite-green-min {
    background: url("../img/controls.png") no-repeat -27px 0px transparent;
    background-size: 163px 55px;
}
.buy-min {
    background: url("../img/controls.png") no-repeat -108px 0px transparent;
    background-size: 163px 55px;
}
.arrow-left-min {
    background: url("../img/controls.png") no-repeat -27px -27px transparent;
    background-size: 163px 55px;
}
.arrow-right-min {
    background: url("../img/controls.png") no-repeat -54px -27px transparent;
    background-size: 163px 55px;
}



